{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <img src="{% static '/images/napa_logo_new.png' %}">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'customers' %}">Customers</a>
          </li>
        {% endif %}
      </ul>
    </div>

    <span style="color: azure;"> {{request.user}} </span>
    &nbsp;&nbsp;
    <span style="color: azure;"><a href="{% url 'logoutuser' %}" style="color: azure;">Logout</a></span>
  </nav>