{% extends 'products/main.html' %}

{% block content %}

    <p>Products page from products.html</p>
    <a class = "btn btn-primary btn-sm btn-inline" href="#">Create product</a>
    <table class="table table-striped table-dark">
        <tr>
            <th>Product Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        {% for item in products%}
            <tr>
                <td> {{item.productCode}} </td>
                <td> {{item.name}} </td>
                <td> {{item.price}} </td>
                <td> {{item.date_created}} </td>
                <td><a class="btn btn-success btn-sm btn-block" href="{% url 'update_products' item.id %}">Update</a></td>
                <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'delete_products' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


